/*
 * Created by: Level Five Solutions
 * Website: http://www.levelfivesolutions.com/
 *
 */

ul.buttons {
	margin: 0;
	padding: 8px 0;
	@include pie-clearfix;

	li {
		display: block;
		float: left;
		list-style-type: none;
		margin: 0 30px;
		padding: 0;
		&:first-child { margin-left: 25px; }

		a {
			background-color: transparent;
			border: 2px solid tint($primary-green, 40%);
			@include border-radius(12px);
			color: tint($primary-green, 40%);
			display: block;
			font: 100 16px/16px $font-secondary;
			padding: 2px 8px;
			text-transform: uppercase;

			&:hover {
				background-color: tint($hyla-dark-blue, 30%);
				text-decoration: none;
			}
		}

		&.active {
			a {
				background: image-url('gradients/green-diagonal-stripe.png') repeat-x;
				border: none;
				color: #fff;
				padding-bottom: 4px;
				padding-top: 4px;
				pointer-events: none;
			}
		}
	}
}