/*
 * Created by: Level Five Solutions
 * Website: http://www.levelfivesolutions.com/
 *
 */

.tab-container {
	background-color: #fff;

	.tab-content {
		display: none;
		padding: 20px;
		&.active { display: block; }

		.description { padding: 0 0 15px 0; }
	}
}

/** Mobile **/
@media (max-width: 767px) {

	.tab-container {
		background-color: transparent;

		.tab-content {
			background-color: #fff;
			@include border-radius(2px);
			display: block;
			margin: 15px 0;
			padding: 0 20px;

			.description {
				margin: 0;
				padding: 0;

				.title {
					display: block;
					margin: 0 -20px;
					overflow: hidden;
					padding: 5px 10px;

					.large {
						font-size: 18px;
						line-height: 24px;
					}

					&:hover { cursor: pointer; }
				}
				.text { display: none; }
			}

			.content {
				display: none;
				padding-top: 20px;
			}

			&.active {
				.description {
					.title { background-color: tint($hyla-gray, 90%); }
					.text {
						display: block;
						padding-top: 10px;
					}
				}
			}
		}
	}

}