<section class="cancelBidOverlay">
  <div class="top">
    <button class="close-overlay" type="button" ng-click="closePageOverlay()"></button>
    <img src="css/images/cancelBidOverlayIcon.png" />
    <h1>Would you like to cancel your bid?</h1>
    <p>Once canceled, your bid will be permanetly removed from your bid dashboard.</p>
  </div>
  <div class="bottom">
    <button class="primary green" type="button" value="Yes" ng-click="cancelBid()">Yes</button>
    <button class="outline green close-overlay" type="button" value="No" ng-click="closePageOverlay()">No</button>
  </div>
</section>
