/*
 * Created by: Level Five Solutions
 * Website: http://www.levelfivesolutions.com/
 *
 */

/*
	LABELS
*/

label {
	color: tint($hyla-dark-blue, 40%);
	font: 100 13px/24px $font-secondary;
}


/*
	INPUTS
*/

input {
	border: 1px solid tint($hyla-gray, 40%);
	@include border-radius(3px);
	font: 300 14px/14px $font-secondary;
	outline: none;
	padding: 3px 5px;
}

.input-box {
	background-color: #fff;
	@include border-radius(1px);
	color: tint($hyla-gray, 20%);
	display: block;
	margin: 0 0 20px 0;
	padding: 5px 5px 5px 30px;
	position: relative;

	.icon {
		font-size: 16px;
		left: 8px;
		position: absolute;
		top: 9px;
	}

	input {
		border: none;
		line-height: 21px;
		width: 100%;
	}

	@include placeholder {
		color: tint($hyla-gray, 20%);
		font: 300 14px/21px $font-secondary;
	}

	&.border {
		border: 1px solid tint($hyla-gray, 60%);
		@include border-radius(3px);
		padding-bottom: 4px;
		padding-top: 4px;
	}
}


/*
	CHECKBOXES
*/

label.checkbox {
	font: 300 14px/18px $font-secondary;
	margin: 0 0 20px 0;
	&:hover { cursor: pointer; }

	input {
		margin: 0 5px 0 0;
		padding: 3px;
		position: relative;
		top: -2px;
	}
}


/*
	SELECTS
*/

.select-dropdown {
	background-color: #fff;
	@include border-radius(2px);
	height: 30px;
	position: relative;
	width: 160px;

	.selected {
		display: block;
		font: 100 14px/30px 'Arial', sans-serif;
		height: 100%;
		overflow: hidden;
		padding: 0 31px 0 5px;
		width: 100%;

		.arrow {
			border-left: 1px solid tint($hyla-gray, 40%);
			display: block;
			color: $primary-green;
			font-size: 20px;
			height: 100%;
			padding: 2px 0 0 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			@include transition(all 0.3s ease);
			width: 30px;
		}
	}

	/** States **/
	&:hover {
		cursor: pointer;

		.arrow {
			background-color: tint($primary-green, 90%);
		}
	}

	ul {
		display: none;
		left: 0;
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 30px;
		width: 100%;
		z-index: 100;

		li {
			background-color: #fff;
			border: 1px solid tint($hyla-gray, 60%);
			border-top: none;
			padding: 5px;
			@include transition(all 0.3s ease);

			&:first-child { border-top: 1px solid tint($hyla-gray, 60%); }

			/** States **/
			&:hover {
				background-color: tint($hyla-gray, 90%);
				cursor: pointer;
			}
			&.active {
				background-color: tint($hyla-gray, 90%);
			}
		}
	}

	/** Variations **/
	&.bordered {
		border: 1px solid tint($hyla-gray, 40%);
		ul { top: 28px; }
	}
}

/*
	TEXTAREA
*/

textarea {
	border: 1px solid tint($hyla-gray, 40%);
	@include border-radius(3px);
	font: 300 14px/14px $font-secondary;
	outline: none;
	overflow: auto;
	padding: 10px 8px;
	resize: none;

	/** Size **/
	&.full-width{ width: 100%; }
	&.tall { height: 230px; }
}
